html {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    text-align: center;
}

body {
    background-color:azure;
    
   
}

  

img {
    height: 400px;
    width:450px;
    border: thick groove #555;
    
    }

.nav-list {
    list-style-type: none;
    width: 450px;
    background-color: lightgray;
    border: thick groove #555;  
    display: inline-block;
  }
  
  li a {
    text-align: center;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: thick groove #555;
    
    }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: silver;
    color: white;
  }

  li {
      text-align:justify;
  }

 .author {
    color:#555;
    font-size:larger;
 }

 h1 {
   color:#555;
 }

 h2 {
   color:#555;
 }

 h3 {
   color:#555;
 }

 #index-link:hover {
  background-color: silver;
 }